/* Reset default margin and padding */
body, h1, h2, h3, ul, p, li {
    margin: 5px;
    padding: 0;
}

/* Set a background color and font */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(249, 231, 235, rgb(249, 231, 235));  
}

/* Style the header */
header {
    background-color: white;
    color: white;
    padding: 10px;
}

header h1 {
    font-size: 24px;
}

h2{
    color: #702f8a;
    margin-bottom: 15px;
    font-size: 50px;
}



/* Style sections */
section {
    padding: 30px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #702f8a;;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border-width: 0px;
}





li {
    margin: 20px;
    list-style-type: none;
}

.horizentalList{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px;
    height: 200px;
}

#WIE_logo{
    width: 60%;
    margin-right: 200px;
    margin-bottom: 0px;
    height: 100%;
}

#AUI_logo{
    width: 20%;
    margin: 20px;
    margin-left: 50px;
    height: 100%;
}

#WIE_morocco{
    width: 25%;
}

#WIE_morocco div{
    color: #702f8a;
    font-size: 25px;
    margin: 0px;
    margin-left: 30px;
}

#WIELS_logo{
    width: 30%;
    margin: 10px;
    justify-self: end;
    height: 150px;
}
#navbar{
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

nav{
    background-color: #702f8a;
    border-radius: 5px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    margin-inline: 0px;
}

nav>ul>li>a{
    padding: 20px;
    font-size: large;
    width: 700;
}

nav>ul>li>a:hover{
    background-color: #f4f4f4;
    color: #702f8a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}



form>input{
    border-radius: 10px;
    width: 250px;
    height: 25px;
    border-width: 1px ;
}

#teamMembers>li>img{
    border-radius: 50%;
}





#WIE_logo{
    margin-right: 40px;
}


#externalLinks>a{
    
    text-decoration: none;
    background-color: #f4f4f4;
    padding-inline: 30px;
    align-self: center;
    color: #333;
    border-radius: 10px;
    margin-top: 50px;
    font-size: medium;
    margin: 0px;
}

#externalLinks>a:hover{
    color: #702f8a;
    font-size: large;
}

#intro>p{
    margin-bottom: 20px;
}

#about>p{
    font-size: large;
    margin: 10px;
    color: #333;
    margin-bottom: 40px;
}

#programContainer{
    display: flex;
    padding: 0px;
    flex-direction: column;
}

.hourly_program>li{
   display: flex;
   align-items: center;
   justify-content: left;
   border-width: 3px;
   border-color: #333;
   margin: 0px;
   padding: 0px;
   margin-left: 20px;
   font-size: medium;
   transition: background-color 0.3s, color 0.3s;
   width: 90%; 
   height: 18vh;
}

.hourly_program>li:hover .hourly_program>li>h5{
    background-color: #f4f4f4;
} 

.hourly_program>li:hover{
    background-color: #702f8a;
    background-image: linear-gradient(to right, #702f8a,#8af74a);
    color: #f4f4f4;
    border-radius: 8px;
    font-size: medium;
    transition: background-color 0.3s, color 0.3s; 
}

@keyframes borderRadiusTransition {
    from {
        border-radius: 1px; /* Start with 10px */
    }
    to {
        border-radius: 8px; /* End with 30px */
    }
}

.hourly_program > li:hover {
    animation: borderRadiusTransition 0.5s ease; /* Adjust the duration and easing as needed */
}



.hourly_program>li>h5{
    margin-right: 20px;
    background-color: #702f8a;
    color: #f4f4f4;
    border-radius: 20px;
    padding: 20px;
    width: 60px;
}

.day_program{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #702f8a;
    margin-bottom: 50px;
    border-radius: 4px;
}

.day1_container{
    width: 50%;
    border: 1px #702f8a solid;
    border-radius: 4px;
}

#day2_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#day2_container ul{
    width: 100%;
}

#day2_container h5{
    width: 120px;
}

.programSpeakerContainer{
    font-size: small;
    margin: 0px;
    padding: 0px;
}

.day_program>div>img{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin:30px;
}

#programContainer h3{
    font-size: 50px;
    border: 1px #702f8a solid;
    padding: 0px;
    margin: 1px;
    background-color: #702f8a;
    color: #f4f4f4;
}
#registration{
    text-align: center;
}

#clock{
    margin: 30px;
    font-size: 40px;
}

#registrationLinkContainer{
    margin: 10px;
    padding: 30px;
}

#registrationLink{
    text-decoration: none;
    padding: 20px;
    background-color: #702f8a;
    color: #f4f4f4;
    border-radius: 40px;
    padding-inline: 50px;
}

#registrationLink:hover{
    background-image: linear-gradient(to right, #702f8a,#8af74a);
}

#registration>p{
    margin-bottom: 50px;
}

#table_centered{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#table_centered>table{
    width: 70%;
}
#table_centered th{
    color: #f4f4f4;
    background-color: #702f8a;
    padding: 20px;
    font-size: large;
}
#table_centered td{
    padding: 10px;
    border: 1px black solid;
    margin: 0px;
}

#auiDescription{
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#aui h2{
    margin: 0px;
}

#auiDescription>img{
    width: 300px;
    margin: 50px;
}

#auiDescription>p{
    color: #333;
    font-size: large;
    margin: 15px;
    padding: 5px;
}

#auiLocation{
    text-align: center;
    margin: 0px;
}

#auiLocation>img{
    border-radius: 15px;
    margin-right: 10px;
    height: 350px;
}
#auiLocation>a{
    text-decoration: none;
    color: #702f8a;
}


.teamRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-direction: row;
}

.teamRow>div{
    margin: 20px;
    margin-right: 50px;
}


#teamMembers img:not(#linkedInLinkLogo){
    width: 150px;
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
}

#teamMembers a{
    text-decoration: none;
    color: #702f8a;
}

#teamMembers>div>div>a:hover img{
    transform: scale(1.2);
    border-radius: 20%;
    filter: brightness(80%);
}

#contactContainer{
    display: block;
    align-items: center;
    justify-content: center;
}

#contactInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.speakersList img{
    width: 200px;
    border-radius: 75px;
}

.speakersList{
    display: flex;
    align-items: center;
    justify-content: center;
}



.large_text{
    font-size: 50px;
}

section:hover{
    font-weight: 500;
    box-shadow: 10px 10px 5px gainsboro;
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
         #702f8a,#8af74a
      ) 1 100%;
}

#intro:hover{
    border-width: 0;
}



/* Style footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #702f8a;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


#credits{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0px;
}
#credits h5{
    width: 100;
    margin: 0px;
}

#credits>div>a{
    text-decoration: none;
    color: #8af74a;
}

#socialMedia{
    margin: 10px;
}
#socialMedia a{
    margin: 7px;
    text-decoration: none; 
}

#socialMedia>a>img{
    width: 25px;
}

.speakerContainer{
    margin: 30px;
    width: 200px;
    border-radius: 50%;
}

.speakerContainer a{
    text-decoration: none;
    color: #702f8a;
}

.speakerContainer img{
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.speakerContainer div{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.speakerContainer:hover img{
    transform: scale(1.2);
    border-radius: 50px;
    filter: brightness(80%);
}


#linkedInLinkLogo{
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
    filter: brightness(100%);
}



.linkImageContainer:hover #linkedInLinkLogo{
    display: block;
}



.linkImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#sponsorsList img{
    width: 170px;
    margin: 30px;
}


#intro{
    background-image: linear-gradient(to right,#702f8a, #8af74a);
    color: #f4f4f4;
    font-size: medium;
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 7.5%;
}

#intro>img{
    width: 100%;
    border-radius: 10px;
}


.img-slider{
    position: relative;
    width: 100%; 
    height: 500px;
    background-color: #1d212b;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 0px;
    border-radius: 10px;
}

.img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%; 
    height: 100%;
    clip-path: circle(0% at 0 50%);
    overflow: hidden;
}

.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    border-radius: 10px;
    height: 100%; /* or any custom size */
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .navigation .btn{
    background-color: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;

}

.img-slider .navigation .btn.active{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}





















/* Media queries for responsiveness */
@media screen and (max-width: 500px) {

    #banner{
        height: auto;
    }

    #navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav{
        width: 50vw;
        
    }

    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    #WIE_morocco div{
        font-size: small;
    }

    #programContainer{
        display: block;
    }

    .day_program{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
    }

    #programContainer h3{
        border: none;
        color: #1d212b;
        background-color: white;
    }

    .hourly_program{
        margin: 10px;
        padding: 0px;
    }

    #program{
        margin: 0px;
        padding: 0px;
    }

    .day1_container{
        width: 90%;
        border: none;
    }

    #day2_container{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    


    .hourly_program li{
        height: 20vh;
        margin: 10px;
        width: 100%;
    }

    .hourly_program>li>h5{
        background-color: #702f8a;
        color: #f4f4f4;
        border-radius: 5px;
        padding: 20px;
        margin: 0px;
        font-size: small;
    }

    .hourly_program>li>div{
        margin: 10px;
        font-size: small;
    }

    .hourly_program>li:hover{
        background-color: #702f8a;
        background-image: linear-gradient(to right, #702f8a,#8af74a);
        color: #f4f4f4;
        border-radius: 5px;
        font-size: small;
        transition: background-color 0.3s, color 0.3s; 
    }

    #clock{
        margin: 10px;
        font-size: 30px;
    }

    #registrationLinkContainer{
        margin: 20px;
        padding: 20px;
    }

    #registration h3{
        font-size: 40px;
    }

    #table_centered th{
        padding-inline: 50px;
    }

    #table_centered{
        margin-bottom: 50px;
    }

    #auiDescription{
        flex-direction: column;
    }

    #auiDescription img{
        width: 50vw;
    }

    #auiLoaction{
        margin: 0px;
        padding: 0px;
    }

    #auiLocation img{
        height: 20vh;
        margin: 0px;
    }

    #auiLocation iframe{
        width: 70vw;
        margin: 0px;
    }

    .speakersList img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    
    .speakersList{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .speakerContainer{
        margin: 10px;
    }
    #sponsors{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #sponsorsList{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 30vw;
    }
 

    #sponsorsList img{
        width: 170px;
        margin: 20px;
    }

    .teamRow{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
        flex-direction: column;
    }
    
    .teamRow>div{
        margin: 10px;
    }

    body{
        margin: 3px;
        padding: 0px;
    }

    .img-slider{
        height: 200px;
    }

    #WIE_logo{
        width: 100%;
    }

    #intro{
        width: 100%;
        margin-left: 0%;
    }

    #WIELS_logo{
        height: 100%;
    }

   
}